*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(95, 158, 160, 0.744);
}
.inp{
    padding: 5px;
    border-radius: 5px;
}
.inp:hover{
    background-color: teal;
    color: white;
}
.inline{
    display: block;
    
}
.flex{
    display: flex;
    margin-top: 30px;
    font-weight: bold;
    gap: 10px;
}
.box{
    border: 1px teal solid;
    border-radius: 5px;
    box-shadow: 0px 0px 50px teal inset;
    width: 300px;
    margin: auto;
    padding: 40px;
    height: 400px;
    margin-top: 50px;


}
.btn{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}
.btn:hover{
    background-color: teal;
    color: white;
}
.bottom{
    margin-top: 50px;
}